
.button {
    font: inherit;
    border-radius: 0.3rem;
    box-shadow:2px 2px 8px rgba(0, 0, 0, 0.253);
    border: none;
    background: #F7B731;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #FED330;
  }
  
  .button:focus {
    outline: none;
  }